<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

<body>
  

    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  
    <img src="https://i.ibb.co/KyMWH0B/Logo.png" alt="Logo" style="width: 50%; height: 50%;">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="http://localhost:3000/">
        Home
      </a>
 <a class="navbar-item" href="http://localhost:3000/chatbot">
        Chatbot
      </a>
      <a class="navbar-item" href="http://localhost:3000/AI">
        Use AI
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="http://localhost:3000/healthreport">
            Get My Health Report
          </a>
         
          <hr class="navbar-divider">
          <a class="navbar-item" href="http://localhost:3000/finddoctors">
            Find Nearby Doctors
          </a>
        </div>
      </div>
    </div>

 
  </div>
</nav>

    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                  Welcome to Nutrizen! - Your Guide to a Nutritioned Citizen
                </h1>
            </div>
        </div>
    </section>
    <article class="message is-link">
  <div class="message-body">
   I am Zach...The Antidib AI and I am here to <strong>HELP YOU</strong> sort all your worries about diagnosing diabetes! Fear not, for my immensely large database, growing everytime someone uses it helps me diagonse diabetes in a matter of seconds! But still if you have your doubts in me, I can understand and help you connect to a nearby and <strong>cheap</strong> doctor! Not only that but I provide a full health analysis an report of your health that is also downloadable and can give you tips and tricks to live longer!
  </div>
</article>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-11">
    <div class="tile">
      <div class="tile is-parent is-vertical" style="margin-left: 9%;">
        <article class="tile is-child notification is-primary">
          <p class="title" style="text-align: center;">Smart</p>
          <p class="paragraph" style="text-align: center;">I am smart AI diagnosing diabetes day by day with not only just a YES/NO but a full analytical report of your health that is also downloadable with tips and tricks to improve!</p>
        </article>
      </div>
           <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-warning">
          <p class="title" style="text-align: center;">Connect</p>
          <p class="paragraph"  style="text-align: center;">The Nutrizen AI helps you to get connected to the cheapest and nearbuy doctors to help assess your health from a human viewpoint!</p>
        </article>
      </div>
            <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-info">
          <p class="title"  style="text-align: center;">Growing</p>
          <p class="paragraph"  style="text-align: center;">Your data is what helps me grow! The more the data that I get, the more efficient my AI becomes! So join me in becoming a Nutrizen (it is a word -- do not check the dictionary) !</p>
        </article>
      </div>
      
</div>
<img src=" " alt="">
<div class="jumbotron" style="margin-left: 10%; background-color: olive;">
  <h1 class="display-4">Nutrizen</h1>
  <p class="lead">Try using our AI and take a diagnostic diabetes test now!</p>
  <hr class="my-4">
  <p>Click the button below to try and check for diabetes! Do not worry about the result, we will locate a doctor for you as soon as possible for better reports.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://localhost:3000/AI" role="button">Learn more</a>
  </p>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>